.reports-container{
    background-color: white;
    border-radius: 10px;
}
.ant-tabs-content-holder{
    //background-color: white;
}
.ant-tabs-tab{
    //border: 1px solid black;
    color: black;
}
.ant-tabs-tab-active{
    background-color: black;
}